body{
  padding: 0px;
  margin:0px;
}

#root{
  width:100vw;
  height:100vh;
  background:#57d5c5;
  text-align: center;
}
#quote-box{
  /*height:300px;*/
  width:500px;
  border-radius:20px;
  text-align: center;
  position:relative;
  position: absolute;
  left:25%;
  top:25%;
  padding:25px;
  margin:0 auto;
}
#new-quote{
  position:absolute;
  right:40px;
}
#text{
  height:40%;
  font-size:35px;
  font-family:cursive;
}
#author{
  font-family:fantasy;
  font-size: 20px;
}
#tweet-quote{
  font-size:40px;
}
