body{
  padding: 0px;
  margin:0px;
}

#root{
  width:100vw;
  height:100vh;
  background:#57d5c5;
  text-align: center;
}
#quote-box{
    width:50%;
    min-height:20vh;
    text-align: center;
    line-height: 2.5em;
    letter-spacing: 0.1em;
    background:white;
    margin:15vh auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    border-radius:10px;
    padding:30px;
}
#new-quote{
  position:absolute;
  left:60%;
}
#text{
  height:40%;
  font-size:35px;
  font-family:cursive;
}
#author{
  font-family:fantasy;
  font-size: 20px;
}
#tweet-quote{
  font-size:40px;
  position: absolute;
  left:30%;
}
