body{
  padding: 0px;
  margin:0px;
}

#root{
  width:100vw;
  height:100vh;
  background:#57d5c5;
}
#quote-box{
  height:300px;
  width:500px;
  border-radius:20px;
  text-align: center;
  position:relative;
  position: absolute;
  left:25%;
  top:25%;
  padding:25px;
}
#new-quote{
  position:absolute;
  bottom:10px;
  right:20px;
}
#text{
  height:40%;
  font-size:35px;
  font-family:cursive;
}
